pass/.local/share/password-store/git/
scripts/.local/bin/env
scripts/.local/bin/env.fish
scripts/.local/bin/jq
scripts/.local/bin/uv
scripts/.local/bin/uvx
scripts/.local/bin/xml2json
matlab/Documents/MATLAB/Examples
helix/.config/helix/runtime/
zsh/**/plugins/
zsh/**/theme/
zsh/**/.zcompdump
zsh/**/.p10k.zsh
typst/.cache
**/__pycache__/
.newsboat/cache.db
ranger/.config/ranger/history
git/.config/git/credentials
pass/.local/share/password-store/docker-credential-helpers/**
!pass/.local/share/password-store/docker-credential-helpers/docker-login.gpg
