zsh/**/plugins/
zsh/**/theme/
zsh/**/.zcompdump
zsh/**/.p10k.zsh
**/__pycache__/
.newsboat/cache.db
ranger/.config/ranger/history
git/.config/git/credentials
pass/.local/share/password-store/docker-credential-helpers/**
!pass/.local/share/password-store/docker-credential-helpers/docker-login.gpg
